<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <label for="product">product</label> 
<input type="text" class="form-control" id="product"  th:field="*{product}" placeholder="Enter product" />                  
                        <label for="price">price</label> 
                        <input type="text" class="form-control" id="price" th:field="*{price}"/>
                        

</body>
</html>