<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <label for="budget.product">product</label> 
   <form method="post" th:object="${budgets}">
<input type="text" class="form-control" id="product"  th:field="*{product}" placeholder="Enter product" />                  
                        <label for="price">price</label> 
                        <input type="text" class="form-control" id="price" th:field="*{price}"/>
                        

<!--    <button type="submit" class="btn btn-primary">Sign in</button> -->

<input type="submit" value="Submit" class="btn btn-primary" />
</body>


</html>