<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Show budgets</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script layout:fragment="script" th:inline="javascript">

        function sortByCategory()
        {
        	const map = new Map(Object.entries(/*[[${budgets}]]*/));
        	const iterator1 = map.values();
        	var array = [];
        	var catarr = [];
       		var i = 1;
       		let htmlString = '';
			while(array[i]=iterator1.next().value)
       		{
				let k=0;
				for(let j = 1;j<(i + 1);j++)
				{
					if (array[i].category.localeCompare(catarr[j])===0)
					{
						k=1;
								
					}
				}
				if(k===0)
				{
					catarr.push(array[i].category);
				}
				i++;
			}
			for (let l = 0; l < catarr.length;l++)
			{
				var priceGes=0;
				htmlString += '<br> <b>'+ catarr[l] + '</b> <br>';
				htmlString += '<table><tr><th>Id</th><th>Product</th><th>Category</th><th>Price</th><th>Date</th><th>Periodic</th></tr>'
				for (let m=1; m<i;m++)
				{
					if(array[m].category.localeCompare(catarr[l])===0)
					{
						htmlString += '<tr><td>'+array[m].id+'</td><td>'+array[m].product+'</td><td>'+array[m].category+'</td><td>'+array[m].price+'</td><td>'+array[m].date+'</td><td>'+array[m].periodic+'</td></tr>'
						priceGes += array[m].price;
					}
					
				}
				htmlString +='</table> <b>total '+ priceGes + '</b> <br>';
			}
			document.getElementById('prodTable').innerHTML = htmlString;
        }
        
		</script>
    </head>

    	<body>
			<div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>
				<form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                	<input type="submit" class="btn btn-primary" value="Logout" />
                 </form>
                    
				<a href="/addBudget">add product</a>
  				<a href="/addIncome">add income</a>
       			<a href="/selectDate">filter by date</a>
       			<a href="/budgets">all dates</a>
       			<a href="/selectDatePlusMonth">month</a>
       			<a href="/search">search</a>
       			<a href="/chart">chart</a>
       
                <h2>List of incomes</h2>

      			<table>
            		<tr>
                		<th>Id</th>
                		<th>Detail</th>
                		<th>Value</th>
                		<th>Date</th>
                 		<th>Periodic</th>
                		<th>Delete</th>
            		</tr>
					<tr th:each="income, stat : ${#lists.sort(incomes,byIncomeDate)}">
                    	<td th:text = "${income.id}"></td>
                    	<td th:text = "${income.detail}"></td>
                    	<td th:text = "${income.amount}"></td>
                    	<td th:text = "${income.inserted}"></td>
                    	<td th:text = "${income.periodic}"></td>
                    	<td><a th:href="@{/deleteIncome/{id}(id=${income.id})}">Delete</a></td>
                	</tr>
                </table>

        		<h2>List of products</h2>

				<div id="prodTable">
        		<table >
            	<tr>
                	<th>Id</th>
                	<th>Product</th>
                	<th ><button th:onclick="sortByCategory()">Category </button></th>
                	<th>Price</th>
                	<th>Date</th>
                	<th>Periodic</th>
                	<th>Delete</th>
            	</tr>
                <tr th:each="budget, stat : ${#lists.sort(budgets,byDate)}">
                    <td th:text = "${budget.id}"></td>
                    <td th:text = "${budget.product}"></td>
                    <td th:text = "${budget.category}"></td>
                    <td th:text = "${budget.price}"></td>
                    <td th:text = "${budget.date}"></td>
                    <td th:text = "${budget.periodic}"></td>
                    <td><a th:href="@{/delete/{id}(id=${budget.id})}">Delete</a></td>
                </tr>
        	</table>
        	</div>
         	<h2>sum </h2>
          	<span th:text="${total}">Total will go here</span>
    </body>
</html>